body {
    background-color: #303135;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* ----- Div Class ----- */
div.header {
    height: auto;
    width: 100%; 
    margin-bottom: 2em;
    background-color: #2C0047;
    /*display: -webkit-inline-flex;*/
}
/*div.nav-bar {
    overflow: hidden;
    float: right;
    outline: 2px solid black;
    height: 3em;
    right: 0;
    align-items: flex-end;
}
div.nav-bar a {
    color: grey;
    display: inline-flex;
    padding: 0.5vw 1vw;
    outline: 2px solid white;
}*/

div.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    /* --- Footer Text --- */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
}


div.body-1 {
    width: 70%;
    height: auto;
    text-align: center;
    padding-bottom: 0.5em;
    margin: auto;
    outline: 2px solid black;
}

/* ----- Text Styles ----- */
h1.header-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    font-weight: 300;
    width: 50vw;
    position: relative;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0;
    outline: 2px solid black;
}
h1.body-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    font-weight: 300;
    padding: 0.2em 0;
    margin-top: 0;
    outline: 2px solid black;
}
p.body-text-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: azure;
}


/* ----- Images ----- */
img.header-image {
    float: left;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    border-radius: 1em;
}