body {
    background-color: #303135;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* ----- Header ----- */
div.header {
    height: 5em;
    width: 100%; 
    margin-bottom: 2em;
    background-color: #2C0047;
    display: flex;
}
div.header-left {
    float: left;
    width: 50vw;

}
div.header-right {
    float: right;
    width: 50vw;
}

div.nav-bar {
    text-align: right;
    padding-top: 2em;
    padding-right: 2.5em;
}
a#nav-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 3;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #520184;
    padding: 0.25em 0.5em;
    margin: 0 0.05em;
    border-radius: 0.5em;
}
a#nav-button:hover {
    background-color:#7a03c4;
}

h1.header-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    font-weight: 300;
    position: relative;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0;
}


/* ----- Footer ----- */
div.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    /* --- Footer Text --- */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding-top: 1em;
    padding-bottom: 0.2em;
}


/* ----- Body ----- */
div.body-1 {
    width: 70%;
    height: auto;
    text-align: center;
    padding-bottom: 0.5em;
    margin: auto;
}


h1.body-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    text-decoration: underline;
    font-weight: 300;
    padding: 0.2em 0 0 0;
    margin-top: 0;
}
h2.body-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: 300;
    padding: 0.2em 0 0 0;
    margin-top: 0;
}
p.body-text-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: azure;
    padding-left: 7.5%;
    padding-right: 7.5%;
}



hr.rounded {
    height: 2px;
    border: none;
    border-radius: 1em;
    background-color: #000;
    width: 85%;
}

/* ----- Images ----- */
img.header-image {
    float: left;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    border-radius: 1em;
}